EXPO_PUBLIC_SUPABASE_URL=https://dkkjsiohiibbgbunzxkb.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRra2pzaW9oaWliYmdidW56eGtiIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI2OTcyMzAsImV4cCI6MjA5ODI3MzIzMH0.i7TWavOuPIkmEA1OX5ugCGBBE45iuxBnIaKv-FcKM4g
